<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
    "-//Hibernate/Hibernate Configuration DTD//EN"
    "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
 
<hibernate-configuration>
    <session-factory>
        <mapping class="info.invertirenbolsa.fundamentales.domain.Balance" />
        <mapping class="info.invertirenbolsa.fundamentales.domain.Company" />
        <mapping class="info.invertirenbolsa.fundamentales.domain.Value" />
        <mapping class="info.invertirenbolsa.fundamentales.domain.ValueKey" />
    </session-factory>
</hibernate-configuration>