<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
    "-//Hibernate/Hibernate Configuration DTD//EN"
    "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
 
<hibernate-configuration>
    <session-factory>
    	<property name="hibernate.dialect">org.hibernate.dialect.PostgreSQLDialect</property>
        <property name="hibernate.cache.use_query_cache">false</property>  
    	<property name="hibernate.cache.use_second_level_cache">false</property>  
    	<property name="hbm2ddl.auto">create</property>
    	<property name="connection.url">jdbc:postgresql://localhost:5432/fundamentals</property>
    	<property name="hibernate.show_sql">true</property>
    	
        <mapping class="info.invertirenbolsa.fundamentales.domain.Balance" />
        <mapping class="info.invertirenbolsa.fundamentales.domain.Company" />
        <mapping class="info.invertirenbolsa.fundamentales.domain.Value" />
        <mapping class="info.invertirenbolsa.fundamentales.domain.ValueKey" />
    </session-factory>
</hibernate-configuration>